/* Search Engine CSS */

.ccll_search_form_input{
  background-color: inherit;
  color: inherit;
}

/* END search engine css */

/* ControlBox CSS */

.control-box{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.control-buttons-container {
    width: 100%;
    display:grid;
    margin-bottom: 10px;
}

/* Control Box CSS END */

/* request list button */

.request-new-category-btn {
  display: block;
  margin-bottom: 10px;
}

/* end request list button */



/* search engine btn style */
.search-engine-btn{
    grid-row: 1;
    grid-column: 2;
    justify-self: end;

    border-color: #000;
    background: #fff;
    color: #000;
    border-style: outset;
    border-width: 1px;
    box-shadow: 2.5px 5px;
    border-radius: 10px;
}

/* Search Engine Btn CSS END */

/* Back Btn CSS */
button.back-btn{
    grid-row:1;
    grid-column: 1;
    justify-self: start;

    background-color:unset;
    background-image: url("../images/back-button.png") !important;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /*filter: invert(100%); */

    box-shadow: none;
    border: none;
    position: relative;
    display: inline;
  }
  
  button.back-btn:hover { 
    background-color:unset;
    background-image: url("../images/back-button.png") !important;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  button.back-btn:focus { 
    background-color:unset;
    background-image: url("../images/back-button.png") !important;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  
  }

  .back-btn__cancel-btn{
    padding: 4.5% 10% 4.5% 10%;
    position: relative;
    margin-left: 14%;
    border:none;
  
    background-color:unset;
    background-image: url("../images/cancelBtn.png") !important;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .back-btn__cancel-btn:hover{
    padding: 4.5% 10% 4.5% 10%;
    position: relative;
    margin-left: 14%;
    border:none;
  
    background-color:unset;
    background-image: url("../images/cancelBtn.png") !important;
    background-size: contain;
    background-repeat: no-repeat;
  }

/* Back Btn CSS END */

/* New List Btn CSS */


button.new-list-btn{
    margin-bottom: 15px;
    padding: 1.5%;
    border-color: #000;
    background: inherit;
    color: inherit;
    border-style: outset;
    border-width: 1px;
    box-shadow: 2.5px 5px #000;
    position: relative;
    display: block;
    border-radius: 10px;
  }
  
  button.new-list-btn:hover { 
    background-color: #0C808E;
    color: #fff;
  }
  

/* New List Btn CSS END */

