/*

@media only screen and (min-width: 768px){
  div.cll-link-list{
    display: inline-block !important;
    width: 25% !important;
    min-width: 165px !important;
    margin-top: 0px !important;
  }
}

@media only screen and (min-width: 1168px){
  input.cll_search_form_input {
    width: 100% !important;
    text-align: center !important;
    position: center !important;
    border: solid 2.5px !important;
  }
}

*/

input[name="newCategoryRequestElement"] {
  width: 100%;
  border-radius: 10px;
}


.cll-link-list__link-list--style-1 {
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  display: inline-block;
  vertical-align: top;
  margin-right: 10% !important;
  margin-bottom: 5% !important;
}


select#linkTypeSelecter {
  background-color: #fff;
}

select.cll-edit-category-btn__list-category-selector {
  width: 100%;
  background-color: #fff !important;
}

#add-to-list-form__link-type-selector {
  width: 100%;
  background-color: #fff !important;
}

.cll-link-list__link-list--style-1 li {
 padding: 1.5%;
 border-color: #000;
 list-style: none;
 background: #fff;
 margin: 5% 0%;
 border-style: outset;
 border-width: 1px;
 box-shadow: 2.5px 5px;
 position: relative;
 min-width: 164px;
 display:grid;
}

.link-list--style-1__link-list-item a.link-list-item__link-list-title {
  text-decoration: none !important;
  color: #000;
  display: block;
  grid-column: 1 / span 3;
  grid-row: 1;
  max-width: 80%;
  font-size: 80%;
}

.cll-link-list__link-list--style-1 input{
 	width: 100%;
	margin-bottom: 5%;
}

.cll-link-list__link-list--style-1 select{
  width: 100%;
  margin-bottom: 5%;
}

button.link-list-item__admin-delete-button:hover{
  opacity:.5 !important;
}

.button{
  color:white;
}

.cll-link-list button.cll-link-list__delete-list-btn:hover{
  color: #fff;
  background-color: #0C808E;
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
 }

.cll-link-list button.cll-link-list__cll-edit-category-btn:hover{
  color: #fff;
  background-color: #0C808E;
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
 }

 input.add-to-list-form__add-to-list-input{
   width:100%;
 }

 .cll-link-list button.cll-link-list__add-to-list-btn:hover{
  color: #fff;
  background-color: #0C808E;
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
 }

 .cll-link-list button.cll-link-list__add-to-list-btn:focus{
  color: #fff;
  background-color: #0C808E;
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
 }


.cll-link-list__link-list--style-1 button:hover{
 background-color: unset;
 background-size: 1.5em;
 background-repeat: no-repeat;
 background-position: center;
 opacity: .5;
}


.cll-link-list__link-list--style-1 li.cll-link-list__add-to-list-btn:hover{

  background-color: #0C808E;
  color: white;
 }

 button.cll-link-list__add-to-list-btn {
  bottom: 10px;
}


.cll-link-list__link-list--style-1 button:focus{
  background-color: unset;
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position: center;
  opacity: .5;
 }




button.link-list-item__admin-delete-button{
  grid-column: 3;
  grid-row: 1;
  background-color:unset;
  background-image: url("../images/cancelBtn.png") !important;
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position: top right !important;
  border:none;
}


.cll-edit-category-btn__cancel-btn {
	padding: 8.5% 10% 8.5% 10%;
  position: relative;
  background-color: #F42E2B;
  margin-left: 14%;
  border:none;

  background-color:unset;
  background-image: url("../images/cancelBtn.png") !important;
  background-size: contain;
  background-repeat: no-repeat;
}

.add-to-list-form__cancel-btn {
	padding: 8.5% 10% 8.5% 10%;
  position: relative;
  background-color: #F42E2B;
  margin-left: 14%;
  border:none;

  background-color:unset;
  background-image: url("../images/cancelBtn.png") !important;
  background-size: contain;
  background-repeat: no-repeat;
}

button.link-list-item__up-vote-button {
  background-image: url("../images/thumb-up.png") !important;
  background-color:unset;
  background-size: 1.5em;
  background-repeat: no-repeat;
	grid-column: 1;
	grid-row: 2;
  background-position: center;
  bottom: 5px;
  position: relative;
  border: none;
}
button.link-list-item__down-vote-button {
  background-image: url("../images/dislike-thumb.png") !important;
  background-color:unset;
  background-size: 1.5em;
  background-repeat: no-repeat;
	background-position: center;
	grid-column: 3;
  grid-row: 2;
  border: none;
}
button.link-list-item__neutral-vote-button {
  background-image: url("../images/emoticon-neutral-face-outline.png") !important;
  background-color:unset;
  background-size: 1.5em;
  background-repeat: no-repeat;
	background-position: center;
	grid-column: 2;
  grid-row: 2;
  border: none;
}

p.link-list-item__up-votes-counter {
	grid-column: 3;
	grid-row: 2;
	color: #000;
	position: relative;
	top: 30px;
}
p.link-list-item__down-votes-counter {
	grid-column: 1;
	grid-row: 2;
	color: #000;
	position: relative;
	top: 25px;
}

p.link-list-item__submitted-by {
  grid-row: 3;
  grid-column: 1 / span 3;
  font-size: 70%;
  margin: 0px;
  margin-top: 5%;
}

button.add-to-list-form__submit-btn {
    padding: 4%;
    border-color: #000;
    background: #fff;
    color: #000;
    border-style: outset;
    border-width: 1px;
    box-shadow: 1.5px 1px;
    position: relative;
    border-radius: 10px;
}

button.cll-edit-categoy-btn__submit-btn {
  padding: 4%;
  border-color: #000;
  background: #fff;
  color: #000;
  border-style: outset;
  border-width: 1px;
  box-shadow: 1.5px 1px;
  position: relative;
  border-radius: 10px;
}

#checkmark_symbol{
  background-size: contain;
  background-repeat: no-repeat;
  width: 60%;
}

input.cll_search_form_input {
    width: 100%;
    text-align: center;
    border: solid 2.5px #000!important;
}

div.search-result-element {
    border: solid 1.5px #000;
    cursor: pointer;
}

button.new-list-btn{
  padding: 1.5%;
  border-color: #000;
  background: #fff;
  color: #000;
  margin: 5% 0%;
  border-style: outset;
  border-width: 1px;
  box-shadow: 2.5px 5px;
  position: relative;
  display: block;
  border-radius: 10px;
}

button.new-list-btn:hover { 
  background-color: #0C808E;
  color: #fff;
}

div.cll-link-list{
  display: inline-block;
  vertical-align: top;
  width: 25%;
  min-width: 192.3px;
  max-width: 200px !important;
  margin-right: 3% !important;
  margin-top: 0px !important;
  border: solid 3px #000;
  border-radius: 10px;
  margin-bottom: 1%;
}


.cll-link-list > button {
  margin-left: 16%;
  padding: 1.5%;
  border-color: #000;
  background: #fff;
  color: #000;
  border-style: outset;
  border-width: 1px;
  box-shadow: 2.5px 5px;
  position: relative;
  border-radius: 10px;
  width: 90%;
  right: 12%;
}

h4.cll-link-list__list-title {
  margin: 10px 0px 0px 0px;
  text-align: center;
  font-size: 90%;
}

/* CONTROL SCROLLING OF LISTS */
ul.cll-link-list__link-list--style-1::-webkit-scrollbar {
      background-color: #fff;
}

ul.cll-link-list__link-list--style-1::-webkit-scrollbar-track {
	  box-shadow: inset 0 0 5px grey; 
}

ul.cll-link-list__link-list--style-1::-webkit-scrollbar-thumb{
    background: #000;
		border-radius: 10px
}

ul.cll-link-list__link-list--style-1::-webkit-scrollbar-thumb:hover{
      background: gray;	
}

ul.cll-link-list__link-list--style-1{
	overflow-y:scroll;
	overflow-x:hidden;
	max-height:350px;
  min-width:182px;
  width: 100%;
  padding: 5px;
}
/* END SCROLL*/
