h1#cll-link-manager-page-title{
    text-align: center;
}

.pending-link-data-table__pending-link-data td{
	text-align: center;
}

.pending-link-data-table__pending-list-data td{
	text-align: center;
}

#pending-link-data_approve-btn{
	left: 10%;
}